mixin advantages()
  -
    const advantages = [
      {
        title: "Хотите открыть бизнес?",
        text: "Нейросеть поможет составить бизнес-план, рассчитать расходы, нарисовать логотип, найти место получше и&nbsp;станет вашим главным деловым партнером",
        icon: "goal"
      },
      {
        title: "Мечтаете об&nbsp;отпуске?",
        text: "Нейросеть поможет найти место по&nbsp;вашим запросам, выбрать наилучший сезон, собрать чемодан, подыскать где остановиться и&nbsp;сделать ваш отпуск незабываемым",
        icon: "suitcase"
      },
      {
        title: "Вы&nbsp;студент и&nbsp;нуждаетесь в&nbsp;помощи в&nbsp;учебе?",
        text: "Нет проблем! Нейросеть&nbsp;&mdash; ваш лучший друг, который поможет написать курсовую, решить сложный тест и&nbsp;подготовиться к&nbsp;экзаменам",
        icon: "check-list"
      },
      {
        title: "Интересует здоровый образ жизни?",
        text: "Нейросеть поделится советами по сбалансированному питанию, безопасным тренировкам и поддержке мотивации.",
        icon: "mental-health"
      }
    ]

  section.advantages(id="advantages")
    .container
      header.advantages__headline
        h2 Преимущества курса
        p
          |Поможем создать
          |
          span корректный промт
          |, чтобы вы&nbsp;получили
          |максимально корректный вариант под ваши нужды!
      .advantages__marquee
        .advantages__marquee-text-wrapper
          .advantages__marquee-text Преимущества
        .advantages__marquee-text-wrapper
          .advantages__marquee-text Преимущества
      ul.advantages__list
        each advantage in advantages
          li.advantages__item
            .advantage
              h3!= advantage.title
              p!= advantage.text
              +icon(advantage.icon, 48, 48)
