mixin hero()
  section.hero
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .hero__content
        h1
          span.hero__title Нейросеть
          br
          span.hero__subtitle может все!
        p Мы&nbsp;уже живем в&nbsp;этой удивительной реальности
        +btn({
          text: "Погрузиться в новый мир"
        }).hero__btn(data-open-modal="modal-feedback")
      .hero__img-wrapper
        picture
          source(media="(max-width: 767px)", type="image/webp", width="338", height="347", srcset="img/content/hero/laptop-mobile@1x.webp 1x, img/content/hero/laptop-mobile@2x.webp 2x")
          source(media="(max-width: 767px)", type="image/png", width="338", height="347", srcset="img/content/hero/laptop-mobile@1x.png 1x, img/content/hero/laptop-mobile@2x.png 2x")
          source(type="image/webp", width="748", height="731", srcset="img/content/hero/laptop-desktop@1x.webp 1x, img/content/hero/laptop-desktop@2x.webp 2x")
          img(src="img/content/hero/laptop-desktop@1x.png", width="748", height="731", srcset="img/content/hero/laptop-desktop@2x.png 2x", alt="Ноутбук.")
