.advantages {
  position: relative;
  padding-bottom: size(84px);

  @include vp-767 {
    padding-bottom: size(36px);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headline {
    margin-bottom: size(96px);
    text-align: center;

    @include vp-767 {
      margin-bottom: size(24px);
    }

    h2 {
      margin: 0;
      font-size: size(80px);
      line-height: size(72px);
      font-weight: 500;
      letter-spacing: size(1.6px);
      transform: translate(size(1px), size(-7px));

      @include vp-767 {
        font-size: size(36px);
        line-height: size(32px);
        letter-spacing: size(0.72px);

        transform: translate(0, size(-3px));
      }
    }

    p {
      margin: size(24px) auto;
      max-width: size(679px);

      font-family: $ff-Evolventa;
      font-size: size(24px);
      line-height: size(26px);
      transform: translateY(size(2px));

      @include vp-767 {
        margin: size(12px) auto;
        font-size: size(16px);
        line-height: size(18px);
        transform: translateY(size(1px));
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: $color-hollywood-cerise;
      }
    }
  }

  &__marquee {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;

    position: absolute;
    top: size(35px);
    left: 0;
    right: 0;
    z-index: -1;

    text-align: center;
    font-weight: 700;
    font-family: $ff-Involve;
    font-size: size(213px);
    line-height: 1.2;
    letter-spacing: size(4.26px);

    color: transparent;
    -webkit-text-stroke: size(1px) rgba($color-default-white, 0.1);
    overflow: hidden;
    user-select: none;

    @include vp-767 {
      top: size(-35px);
      font-size: size(48px);
      letter-spacing: size(0.96px);
    }
  }

  &__marquee-text {
    display: flex;
    padding-left: size(100px);
    animation-name: marquee-moving;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @include vp-767 {
      padding-left: size(50px);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: auto auto;
    gap: size(30px);

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: size(15px);
    }
  }
}
