// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Involve";

  font-display: swap;
  src: url("../fonts/Involve/Involve-Regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Involve";

  font-display: swap;
  src: url("../fonts/Involve/Involve-Medium.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Evolventa";

  font-display: swap;
  src: url("../fonts/Evolventa/Evolventa-Regular.woff") format("woff");
}
