mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#advantages",
        text: "Преимущества"
      },
    ]

  header.header(class=headerMods, data-header)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon("logo", 42, 42)
          span.header__logo-text AI
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo", 42, 42)
          span.header__logo-text AI
      nav.header__nav(data-close-menu)
        .header__nav-wrapper
          ul.header__list
            each link in headerLinks
              li.header__item
                a.header__link(href=link.href, data-close-menu)= link.text
          +btn({
            text: "Получить  доступ"
          }).btn--opacity.header__btn(data-open-modal="modal-feedback", data-close-menu)
      button.header__burger(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-burger)
        +icon("burger", 18, 12).header__burger-icon
        +icon("cross", 18, 18).header__close-icon
